:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  padding: 10px;

  background: no-repeat center/auto 100% url("app/bank.png");
}

h1,
h2,
h3 {
  margin: 0;
}
